<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Create a new form</h1>
    <form action="addItem" method="post">
        <div>
            <label for="name">Enter a name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="description">Enter a description:</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="price">Enter a price:</label>
            <input type="number" name="price" id="price">
        </div>
        <div>
            <label for="stock">Enter the stock N°:</label>
            <input type="number" name="stock" id="stock">
        </div>
        <div>
            <label for="url">Enter a url:</label>
            <input type="text" name="url" id="url">
        </div>
        <div>
            <label for="category-select">Category:</label>
            <select name="category" id="category-select">
                <option value="">--Please choose a category--</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        </div>
        <button type="submit">Confirm</button>
    </form>
    <script src="../public/main.js"></script>
</body>
</html>