<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Create a new category</h1>
<!--     <form action="/new" method="post">
        <div>
            <label for="name">Enter a name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="description">Enter a description:</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="url">Enter a url:</label>
            <input type="text" name="url" id="url">
        </div>
        <button type="submit">Confirm</button>
    </form> -->
    <script src="../public/main.js"></script>
</body>
</html>