<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
    <link rel="stylesheet" href="./../public/style.css">
</head>
<body>
    <h1>Welcome to the Inventory App</h1>
    <button><a href="/newCategory">Click here to create a new category</a></button>
    <button><a href="/newItem">Click here to create a new item</a></button>
    <script src="./../public/main.js"></script>
</body>
</html>